<div>
    <div class="recHead">
        {{title}}
        <span><i class="icon-right-open"></i></span>
    </div>
    <div class="recBody">
        <div class="recItem" ng-click="toBookInfo();">
            <img src="image/04.jpg" alt=""/>
            <div>666</div>
        </div>
        <div class="recItem" ng-click="toBookInfo();">
            <img src="image/04.jpg" alt=""/>
            <div>666</div>
        </div>
        <div class="recItem" ng-click="toBookInfo();">
            <img src="image/04.jpg" alt=""/>
            <div>666</div>
        </div>
        <div class="recItem" ng-click="toBookInfo();">
            <img src="image/04.jpg" alt=""/>
            <div>666</div>
        </div>
    </div>
</div>