<div class="footerMain">
    <a href="#/" ng-class="{'actived':index==0}"><div class="footItem"><i class="icon-home"></i></div><div>首页</div></a>
    <a href="#/list" ng-class="{'actived':index==1}"><div class="footItem"><i class="icon-th-list"></i></div><div>列表</div></a>
    <a href="#/discover" ng-class="{'actived':index==2}"><div class="footItem"><i class="icon-joomla"></i></div><div>发现</div></a>
    <a href="#/mine" ng-class="{'actived':index==3}"><div class="footItem"><i class="icon-user"></i></div><div>我的</div></a>
</div>