<div class="page-header">
    <header-main title="{{title}}"></header-main>
</div>
<div class="page-content">
    <div class="infoImg">
        <img src="image/04.jpg" alt=""/>
    </div>
    <div class="infoName">
        666
    </div>
    <div class="infoIntro">
        <div><span>作者：</span><span>666</span></div>
        <div><span>出版社：</span><span>666</span></div>
        <div><span>出版时间：</span><span>666</span></div>
        <div><span>库存数量：</span><span>666</span></div>
    </div>
    <div class="infoName">
        简介
    </div>
    <div class="infoIntroduce">
        <p>666666666666666666666666666666666666666666666666666666666666666666666666666666666666666777777777777777</p>
    </div>
    <div class="infoFooter">
        <div><i class="icon-heart-empty"></i>借书架</div>
        <div>加入借书架</div>
    </div>
</div>