<div class="page-header">
    <header-main title="{{title}}" isback="1"></header-main>
</div>
<div class="page-content" style="background-color: white;">
    <div class="caseItem">
        <div class="caseLeft">
            <i class="icon-heart-empty"></i>
        </div>
        <img src="image/04.jpg" alt=""/>
        <div class="caseIntro">
            <p>高级指南</p>
            <p>罗贯中</p>
            <p>2017-9-9</p>
            <p>那个出版社</p>
        </div>
        <div class="caseRight">
            <i class="icon-cancel"></i>
        </div>
    </div>
    <div class="caseItem">
        <div class="caseLeft" style="color: #00C1DE">
            <i class="icon-heart"></i>
        </div>
        <img src="image/04.jpg" alt=""/>
        <div class="caseIntro">
            <p>高级指南</p>
            <p>罗贯中</p>
            <p>2017-9-9</p>
            <p>那个出版社</p>
        </div>
        <div class="caseRight">
            <i class="icon-cancel"></i>
        </div>
    </div>
    <div class="caseItem">
        <div class="caseLeft">
            <i class="icon-heart-empty"></i>
        </div>
        <img src="image/04.jpg" alt=""/>
        <div class="caseIntro">
            <p>高级指南</p>
            <p>罗贯中</p>
            <p>2017-9-9</p>
            <p>那个出版社</p>
        </div>
        <div class="caseRight">
            <i class="icon-cancel"></i>
        </div>
    </div>

    <div class="caseFooter">
        <div>
            <span><i class="icon-heart-empty"></i>全选</span>&nbsp;&nbsp;<span style="font-size: 14px;color: #666;">合计：1本</span>
        </div>
        <div>提交订单</div>
    </div>

</div>