<div class="page-header">
    <header-main title="{{title}}" isback="1"></header-main>
</div>
<div class="page-content" style="background-color: white;">
    <div class="bookItem" ng-click="toBookInfo();">
        <img src="image/04.jpg" alt=""/>
        <div class="bookIntro">
            <p>高级指南</p>
            <p>罗贯中</p>
            <p>2017-9-9</p>
            <p>那个出版社</p>
        </div>
        <div class="bookRight">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div class="bookItem" ng-click="toBookInfo();">
        <img src="image/04.jpg" alt=""/>
        <div class="bookIntro">
            <p>高级指南</p>
            <p>罗贯中</p>
            <p>2017-9-9</p>
            <p>那个出版社</p>
        </div>
        <div class="bookRight">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div class="bookItem" ng-click="toBookInfo();">
        <img src="image/04.jpg" alt=""/>
        <div class="bookIntro">
            <p>高级指南</p>
            <p>罗贯中</p>
            <p>2017-9-9</p>
            <p>那个出版社</p>
        </div>
        <div class="bookRight">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div class="bookItem" ng-click="toBookInfo();">
        <img src="image/04.jpg" alt=""/>
        <div class="bookIntro">
            <p>高级指南</p>
            <p>罗贯中</p>
            <p>2017-9-9</p>
            <p>那个出版社</p>
        </div>
        <div class="bookRight">
            <i class="icon-right-open"></i>
        </div>
    </div>
    <div class="bookItem" ng-click="toBookInfo();">
        <img src="image/04.jpg" alt=""/>
        <div class="bookIntro">
            <p>高级指南</p>
            <p>罗贯中</p>
            <p>2017-9-9</p>
            <p>那个出版社</p>
        </div>
        <div class="bookRight">
            <i class="icon-right-open"></i>
        </div>
    </div>

</div>