<div class="page-header">
    <header-main title="{{title}}"></header-main>
</div>
<div class="page-body">
    <div class="listBody">
        <div class="listItem" ng-click="toBookLists();">
            <img src="image/gifts.png" alt=""/>
            <div>教育</div>
        </div>
        <div class="listItem" ng-click="toBookLists();">
            <img src="image/gifts.png" alt=""/>
            <div>教育</div>
        </div>
        <div class="listItem" ng-click="toBookLists();">
            <img src="image/gifts.png" alt=""/>
            <div>教育</div>
        </div>
        <div class="listItem" ng-click="toBookLists();">
            <img src="image/gifts.png" alt=""/>
            <div>教育</div>
        </div>
        <div class="listItem" ng-click="toBookLists();">
            <img src="image/gifts.png" alt=""/>
            <div>教育</div>
        </div>
        <div class="listItem" ng-click="toBookLists();">
            <img src="image/gifts.png" alt=""/>
            <div>教育</div>
        </div>
        <div class="listItem" ng-click="toBookLists();">
            <img src="image/gifts.png" alt=""/>
            <div>教育</div>
        </div>
        <div class="listItem" ng-click="toBookLists();">
            <img src="image/gifts.png" alt=""/>
            <div>教育</div>
        </div>
    </div>
</div>
<div class="page-footer">
    <footer-main index="1"></footer-main>
</div>