<div class="page-header">
    <header-main title="{{title}}"></header-main>
</div>
<div class="page-body">
    <div class="mineContent">
        <div class="mineHead">
            <img src="image/person.png" alt=""/>
            <div>登录/注册</div>
        </div>
        <div class="nav">
            <div>
                <i class="icon-heart"></i>我的借书架<i class="icon-right-open" style="float: right;"></i>
            </div>
            <div class="divide"></div>
            <div>
                <i class="icon-star"></i>我的借阅<i class="icon-right-open" style="float: right;"></i>
            </div>
            <div class="divide"></div>
            <div>
                <i class="icon-mail"></i>管理地址<i class="icon-right-open" style="float: right;"></i>
            </div>

        </div>
        <div class="nav">
            <div>
                <i class="icon-heart"></i>软件反馈<i class="icon-right-open" style="float: right;"></i>
            </div>
            <div class="divide"></div>
            <div>
                <i class="icon-star"></i>常见问题<i class="icon-right-open" style="float: right;"></i>
            </div>
            <div class="divide"></div>
            <div>
                <i class="icon-mail"></i>关于软件<i class="icon-right-open" style="float: right;"></i>
            </div>
        </div>
    </div>

</div>
<div class="page-footer">
    <footer-main index="3"></footer-main>
</div>