<div class="page-header">
    <sapn  class="backItem"  ng-click="pageBack();"><i class="icon-reply"></i></sapn>
    <input class="search" type="text"/>
    <span class="iconSearch"><i class="icon-search"></i></span>
</div>
<div class="page-content" style="background-color: #f2f2f2;">
    <div class="historyHead">
        <span>搜索历史</span><span style="float: right;"><i class="icon-cancel"></i>清除历史</span>
    </div>
    <div class="searchContent">
        <div>三国演义</div>
        <div>水浒传</div>
        <div>水浒传</div>
        <div>西游记</div>
        <div>红楼梦</div>
        <div>好长好长的名字</div>
    </div>
</div>